global
  log stdout format raw local0

defaults
  log global
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  option httplog

frontend http_front
  bind *:80
  default_backend techstore_back

backend techstore_back
  balance roundrobin
  option httpchk GET /api/system/health
  http-check expect status 200
  server backend1 backend1:4000 check fall 2 rise 1
  server backend2 backend2:4000 check fall 2 rise 1
  server backend3 backend3:4000 check backup
